<div>
    <img src="./../../assets/Images/logo.png" alt="logo" height="50px" width="100px" style="margin: 30px 0px 0px 30px; float: left;">
    <div class="navbar" style="float: right; margin: 35px 20px 0px 20px;">
            <a style="margin:20px 30px 0px 20px">Phone</a>    
            <a style="margin:20px 30px 0px 20px">Laptop</a>
            <a style="margin:20px 30px 0px 20px">Accessories</a>
            <a style="margin:20px 30px 0px 20px">Smart Watch</a>
            <a style="margin:20px 30px 0px 20px">Tablet</a>
            <a href="./../../app/header/cart/cart.component.html" style="margin:20px 30px 0px 20px">Cart Items:{{count}}</a>
            
    </div>
</div>

<img src="./../../assets/Images/a2.jpg" alt="showphoto" height="500px">
<img src="./../../assets/Images/a5.jpg" alt="showphoto" height="500px">
<img src="./../../assets/Images/a6.jpg" alt="showphoto" height="500px">
<img src="./../../assets/Images/a4.jpg" alt="showphoto" height="500px">

<br>
<br><br>

<!-- <h1>{{count}}</h1> -->
<!-- <app-product (eventExecutedAdd)="addto()" (eventExecutedRemove)="removeto()"></app-product> -->


<app-product (parent)="addedtocart($event)"></app-product>


<!-- <h1>Item Added to Cart</h1>

<div class="container">
    
    <table class="table">
        <tbody>
            
          <tr *ngFor="let product of cartItems">
            <th scope="row">{{product.name}}</th>
            <th scope="row">{{product.Price}}</th>
            <th scope="row">{{product.qa}}</th>
            <th scope="row">{{product.ps}}</th>
          </tr>
          
        </tbody>
      </table>
</div> -->
