<h1 style="margin-left: 30px ;">Laptop - Section</h1>
<p style="margin-left: 30px;">Welcome to the Laptop Section. Here, you can find so many new laptops and with also highest Discount. Our Laptop will give you best user experience as well as it also complete all the user needs in one laptop. You do not need to take extra accessories for the laptop.Find laptop as per your requirement and have a good shopping day.</p>

<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l1.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc()">Show Description</button>
<div *ngIf="show1">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l2.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc2()">Show Description</button>
<div *ngIf="show2">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l3.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc3()">Show Description</button>
<div *ngIf="show3">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l4.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc4()">Show Description</button>
<div *ngIf="show4">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l5.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc5()">Show Description</button>
<div *ngIf="show5">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l6.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc6()">Show Description</button>
<div *ngIf="show6">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l7.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc7()">Show Description</button>
<div *ngIf="show7">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
