 <section style="border: 2px solid saddlebrown; margin-bottom: 1px;">
<h1 style="margin-left: 30px ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Laptop - Section</h1>
<p style="margin-left: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to the Laptop Section. Here, you can find so many new laptops and with also highest Discount. Our Laptop will give you best user experience as well as it also complete all the user needs in one laptop. You do not need to take extra accessories for the laptop.Find laptop as per your requirement and have a good shopping day.<br>Laptop available of Companies like:</p>
<ul style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <li>Lenovo</li>
    <li>Dell</li>
    <li>HP</li>
    <li>Asus</li>
    <li>MacBook</li>
</ul>
</section>
<section style="border: 2px solid rgb(129, 43, 209);">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l1.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc()">Show Description</button>
<div *ngIf="show1">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l2.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc2()">Show Description</button>
<div *ngIf="show2">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l3.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc3()">Show Description</button>
<div *ngIf="show3">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l4.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc4()">Show Description</button>
<div *ngIf="show4">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l5.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc5()">Show Description</button>
<div *ngIf="show5">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l6.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc6()">Show Description</button>
<div *ngIf="show6">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>
<br><br>
<section style="border: 2px solid blueviolet;">
    <img style="margin-left: 30%;" src="./../../../assets/Images/l7.jpg" alt="laptop 1" height="450px" width="500px"><br>
<button style="width: 120px;margin-left: 38%;" (click)="addtocart()">Add to Cart</button>
<button style="margin-left: 10px; width: 140px;" (click)="removenewitem()">Remove From Cart</button><br>
<button style="margin-top: 8px;margin-left: 38%; margin-bottom: 10px; width: 271px;" (click)="showdesc7()">Show Description</button>
<div *ngIf="show7">
    <p class="text" style=" border: 3px dotted darkgoldenrod ;margin-left: 38%;margin-right: 40%;">
        RAM:16 GB<br><br>HDD: 1 TB<br><br> Price: 80,000 INR <br><br> Warranttee: 3 Years<br><br>
    </p>
</div>
</section>



<section style="border: 2px solid saddlebrown; margin-top: 1px; margin-bottom: 1px;">
    <h1 style="margin-left: 30px ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Grocery - Section</h1>
    <p style="margin-left: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to the Grocery Section. Here, you can find so many new fresh Groceries and with also highest Discount. Our Groceries will give you best user delivery experience as well as it also complete all the COVID norms. You do not need to pay extra money for the delivery.Find Groceries as per your house requirement and have a good shopping day.<br>Groceries available:</p>
    <ul style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <li>Wheat Flour</li>
        <li>Milk</li>
        <li>Panner</li>
        <li>Cheese</li>
        <li>Butter</li>
    </ul>
    </section>
<br>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Location</th>
                <th>Price Per KG</th>
                <th>Available Stock</th>
                <th>Present Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of Products" >
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.ManufacturingLocation}}</td>
                <td>{{product.Price}}</td>
                <td>{{product.qa}}</td>
                <td>{{product.ps}}</td>
                <td><button (click)="addedtocart(product)">Add to Cart</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <table>
           <tr>
               <th>product name</th>
               <th>cost</th>
               <th>quantity</th>
           </tr>
           <tr>
               <td>wheat</td>
               <td>{{wheatcost}}</td>
               <td></td>
           </tr>
           <tr>
            <td>cheese</td>
            <td>{{cheescost}}</td>
            <td></td>
        </tr>
        <tr>
            <td>paner</td>
            <td>{{panercost}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Butter</td>
            <td>{{buttercost}}</td>
            <td></td>
        </tr>
        <tr>
            <td>menda</td>
            <td>{{mendacost}}</td>
            <td></td>
        </tr>
        </table>
    </div>
    <div>
        <div>
            <p>Wheat floor</p>
            <button (click)="wheat()">add to cart</button>
        </div>
        <div>
            <p>Cheese</p>
            <button (click)="cheese()">add to cart</button>
        </div>
        <div>
            <p>paner</p>
            <button (click)="paner()">add to cart</button>
        </div>
        <div>
            <p>butter</p>
            <button (click)="butter()">add to Cart</button>
        </div>
        <div>
            <p>menda</p>
            <button (click)="menda()">add to Cart</button>
        </div>
    </div>
</div>